@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 22% 9%; /* #13161D */
    --foreground: 210 40% 98%;

    --card: 220 68% 10%; /* #07112a */
    --card-foreground: 210 40% 98%;

    --popover: 220 68% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 228 91% 67%; /* a bright blue for actions */
    --primary-foreground: 228 91% 10%;

    --secondary: 212 22% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 212 22% 15%;
    --muted-foreground: 210 40% 60%;

    --accent: 45 65% 52%; /* #d3aa3a */
    --accent-foreground: 45 65% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 68% 12%;
    --input: 220 68% 12%;
    --ring: 45 65% 52%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 22% 9%;
    --foreground: 210 40% 98%;
    --card: 220 68% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 68% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 228 91% 67%;
    --primary-foreground: 228 91% 10%;
    --secondary: 212 22% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 212 22% 15%;
    --muted-foreground: 210 40% 60%;
    --accent: 45 65% 52%;
    --accent-foreground: 45 65% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 68% 12%;
    --input: 220 68% 12%;
    --ring: 45 65% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply py-20 sm:py-24;
  }
}
